/* ---->Main Header Start------> */
.header1 {
    background-color:#343A40;
    width: 100%;
}
.header1 a{
    text-decoration: none !important;
    color: white;
    padding-top: 2px !important ;
}
.header1 li {
  display: inline !important;
  
}
.header1 li a{
    padding: 1.6rem 1rem !important; 
}
.header1 a:hover{
    color: yellow;
}
.navbar-toggler{
    outline: none !important;
}
.nav-item  .nav-link:hover{
    color: #f5bf2f !important;
}
.nav-item .nav-link{
    font-size: 20px;
    font-weight: bold;
}
/* ---->Main Header End------> */

/* ----->Slider Start-------> */
.carousel-item .btn {
    border: none; /* Remove borders */
    background-color: #ff9800 !important; /* Add a text color */
    padding: 14px 28px !important; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  }
 
.carousel-caption .btn1 {
      border: 2px solid white !important;
    background-color:black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-color:white !important;
  }
  .carousel-caption h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
  }
  
  /* Green */
  .success {
    color: white;
  }
  
  .success:hover {
    background-color: #f5bf2f;
    color: white;
  }
  .carousel-caption {
    top:80px;
 }
 /* ---->Card Start-----> */
 /* -----------------Students Start ---------------------------*/
 .card{
   background-color: LightGray !important;
   width: 100%;
   height: 690px;
 }
.students{
  margin-top: 50px;
  padding-top: 100px;
  color: black;
  background-color: #F9F9F9;
  border-radius: 25px !important;
}
.s1{
  padding-top: 50px;
  text-align: center;
}
.box1{
  padding-top: 25px;
  border-radius: 25px;
  background-color: white;
  padding-bottom: 40px;
  height: 380px;
}
.s2{
  padding-top: 50px;
  
}
.s3{
  padding-top: 50px;
}
.box2{
  padding-top: 25px;
  border-radius: 25px;
  background-color: white !important;
  padding-bottom: 40px;
  height: 380px;
}
.box3{
  padding-top: 25px;
  border-radius: 25px;
  background-color: white !important;
  padding-bottom: 40px;
  height: 380px;
}

.popularcourses{
background-color: #07294D;
width: 100%;
height: 300px;
padding-top: 100px;
padding-bottom: 100px;
}
.aboutus{
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 50px;
}
.students-main{
  background-color: #07294D;
width: 100%;
height: 300px;
padding-top: 100px;
padding-bottom: 100px;
}
.students-main p{
  font-size: 20px;
}

 /*----->Card End------>  */


 /* ourcourses Start */
 .ourcourses{
   padding-top: 50px;
   padding-bottom: 200px;
   border-radius: 25px;
 }
 .ourcourses img{
   text-align: center !important;
   margin: auto !important;
   width:350px;
   height: 200px;
   

 }
 .ourcourses a{
   text-decoration: none !important;
 }
 .ourcoursescard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.ourcoursescard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* ---->Our Coures End---> */

/* ---->Up Coming Events Start--> */
.events1{
  padding-top: 30px;
  padding-bottom: 50px;
}
.events1 h1{
  font-family: 'Lexend Tera', sans-serif;
}
.events1 p{
  font-family: 'Lexend Tera', sans-serif;
}
.card5 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
  border-radius: 5px;
}

.card5:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

img {
  border-radius: 5px 5px 0 0;
}



/* ---->Up Coming Events End--> */

/* -->Students Start---> */
.student1{
  background-color: #07294D;
  width: 100%;
  height: 800px;
  margin-bottom: 100px;
}
.student2{
  background-color: #203F5F;
  margin-top: 150px !important;
  width:500px;
  height: 550px;
  color: white;
  padding-top: 50px;
  border-radius: 10px;
}
.student2 h4{
  padding-left: 30px;
  font-family: 'Lexend Tera', sans-serif;
}
.student2 h6{
  padding-left: 30px;
}
.student2 p{
  padding-left: 30px;
}
.student2 .form-control{
  margin-left: 30px !important;
 
}
.student2 .lastname{
  margin-left: 20px !important;
  padding: 10px;
  border: none;
  border-radius: 4px;
  opacity: 0.85;
  display: inline-block;
  line-height: 20px;
  text-decoration: none;
}
.student2 .btn3{
  margin-left: 40px !important;
}

#exampleFormControlTextarea1{
  width: 460px;
}
.btn3 {
  border: 2px solid white !important;
  background-color:black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color:white !important;
}

/* Green */
.success {
  color: white;
}

.success:hover {
  background-color: #f5bf2f;
  color: white;
}
.student3{
  padding-top: 100px;
}

/* --->Students End---> */

/* -->Our Team Start---->*/
.ourteamcard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 255px;
  border-radius: 5px;
}

.ourteamcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ourteamcard img {
  border-radius: 5px 5px 0 0;
}
.ourteam{
  padding-bottom: 100px;
}
/* --->ourteam End---> */

/* --->studentsay Start---> */
.studentsay{
  padding-bottom: 100px;
}


@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
/*              Sass Template           */
/*  global classes  */
button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/*  top sale template   */
#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#top-sale .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}
#top-sale .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#top-sale .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #003859;
  padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}
#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

/*   Special Price Section Template */
#special-price .grid .grid-item {
  margin-right: 1.2rem;
  margin-top: 1rem;
}

/*# sourceMappingURL=style.css.map */

.font-rale p{
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 25px;
}
/* --->Studentsay End ----> */

/*------Clients Start-------- */
.clients{
  margin-bottom: 50px;
}
#owl-demo .item {
  display: block;
  padding: 30px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.item img{
  width: 200px !important;
}

.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}

.owl-theme .owl-buttons i {
  margin-top: 2px;
}


.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -11px;
  top: 60px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -11px;
  top: 60px;
}



.fa-chevron-left {
font-size: 30px;    
}
.fa-chevron-right{
  font-size: 30px;  
}
.fa-arrow-right{
  background-color: black;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  border-radius: 25px;
  color: white;
}
/* ------Clients End----------- */

/* ---->getcoaching Start---> */

.getcoaching{
  background-color: #FFBC09;
  width: 100%;
  height: 200px;
}
.getcoaching1{
  padding-top: 50px;
}
.btn5 {
  border: none; /* Remove borders */
  background-color: #ff9800 !important; /* Add a text color */
  padding: 14px 28px !important; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

 .btn5 {
    border: 2px solid white !important;
  background-color:black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color:white !important;
}

/* Green */
.success {
  color: white;
}

.success:hover {
  background-color: #f5bf2f;
  color: white;
}
/* -->getcoaching End----> */

/* ---->footer1 Start----> */
.footer1{
  background-color: #07294D;
  width: 100%;
  height: 550px;
}
.footer2 {
  padding-top: 70px;
}
.footer2 a{
text-decoration: none !important;
}
.recents{
  display: inline !important;
}
.post_img {
	float: left !important;
	margin-right: 10px;
	max-width: 60px;
}
.post_date {
	font-size: 80%;
}
.post_content {
	overflow: hidden;
}
.recent_post li {
	display: inline-block;
	width: 100%;
	margin-bottom: 12px;
}
.recent_post li:last-child {
	margin-bottom: 0;
}
.post_content h6 {
	font-size: 14px;
	line-height: normal;
	margin-bottom: 5px;
	font-weight: normal;
}
.newsletter_form {
	position: relative;
}
.newsletter_form input {
	padding: 10px 105px 10px 15px;
	width: 100%;
	border: 0;
	color: #777777;
	height: 43px;
}
.newsletter_form button {
	position: absolute;
	right: 4px;
	top: 4px;
}
.btn-default{
  background-color: tomato !important;
  color: white;
}
.footer3{
  background-color: #000000;
  width: 100%;
  height: 100px;
  padding-top: 40px;
  color: white;
  font-family: 'Titillium Web', sans-serif;
}
.footer3 .pp{
  text-decoration: none !important;
}
.footer3 .pp :hover{
  color: #f5bf2f !important;
}


/* ---->Footer End */


/* ----> ClassRoom Start */
.classroom{
  background-image: url(https://dcs.rutgers.edu/sites/default/files/images/rwh-102-class-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  
}
.classroom1{
  color: white;
  padding-top: 70px;
}
.classroom3{
  text-align: right !important;
}

/*---> ClassRoom End  */

/* -->Online Room Start */


.onlineroom{
  background-image: url(https://bridge.edu/tefl/img/myimg/courses/xonline-courses-overview.jpg.pagespeed.ic.QaBGhCb0-F.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  height: 200px;
  
}
.onlineroom1{
  color: white;
  padding-top: 70px;
}
.onlineroom3{
  text-align: right !important;
}


/* --->Online Room End---> */

/* --->Corporatetraining Start----> */

.Corporatetraining{
  background-image: url(https://dcs.rutgers.edu/sites/default/files/images/rwh-102-class-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  
}

.Corporatetraining1{
  color: white;
  padding-top: 70px;
}
.Corporatetraining3{
  text-align: right !important;
}
/* --->Corporatetraining End----> */

/* --->collegetraining Start----> */

.collegetraining{
  background-image: url(https://dcs.rutgers.edu/sites/default/files/images/rwh-102-class-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  
}

.collegetraining1{
  color: white;
  padding-top: 70px;
}
.collegetraining3{
  text-align: right !important;
}

/*--> collegetraining End ----> */

/* -->Placement Start ----->*/
.placement{
  background-image:
   url(https://www.polycom.com/content/dam/polycom/www/product-selector/images/glass-meeting-room-enus.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  width: 100%;
  height: 300px;
}
.placement1{
  color: white;
  padding-top: 70px;
}
.placement3{
  text-align: right !important;
}

/* --->Placement End ---> */

/* --->Bolg Start */

.bolg{
  background-image:
   url(https://cpb-ca-c1.wpmucdn.com/www.rrc.ca/dist/c/1/files/2018/02/RRC-Future-Students-Assessment-Services-001-banner-Q8-2l9t7wn.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  width: 100%;
  height: 400px;
}
.bolg1{
  color: white;
  padding-top: 80px;
}

/* -->Bolg End---> */

/* -->Contact Start */
.contact1{
  padding-top: 90px;
  margin-bottom: 50px;

}
.contact2{
  background-color: whitesmoke;
  width: 550px;
  height: 500px;
  border-radius: 10px;

}

.contact2 input[type=text],textarea{
  border-radius: 5px;
  outline: none !important;
  border-color: none !important;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.contact2 ::placeholder{
  padding-left: 20px;
}
.contact2{
  padding-left: 30px;
}
.contact3{
  padding-bottom: 50px;
}
.contactcard1{
  background-color: #BAD778;
  width: 350px;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.contactcard2{
  background-color:#F6677A;
  width: 350px;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.contactcard3{
  background-color:#FFC321;
  width: 350px;
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

/* --->Contact End--> */


/* --->Media Quiries Start */
@media only screen and (max-width: 480px) {

  .card{
    background-color: LightGray !important;
    width: 100%;
    height: 1500px !important;
 
  }
  .aboutus{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  .aboutus img{
    width: 330px !important;
  }
  .students-main{
    background-color: #07294D;
  width: 100%;
  height: 800px !important;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  }
  .ourcourses{
    padding-top: 50px;
    padding-bottom: 200px;
    border-radius: 25px;
  }
  .ourcourses img{
    text-align: center !important;
    margin: auto !important;
    width:330px;
    
 
  }
  .ourcoursescard {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   width: 330px;
   height: 350px;
   border-radius: 10px;
 }
 
 .ourcoursescard:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
  .card5 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 330px;
    border-radius: 5px;
  }
  .card5 img{
    width: 330px;
  }
  .student1{
    padding-top: 50px;
    height: 1600px;
  }
  .student2{
    background-color: #203F5F;
    margin-top: 300px !important;
    width:300px;
    height: 700px;
    color: white;
    padding-top: 50px;
    margin: auto !important;
    border-radius: 10px;
  }
  #exampleFormControlTextarea1{
    width: 250px !important;
  }
  .ourteamcard {
   text-align: center;
   margin: auto !important;
  }
  #owl-demo .item {
    margin: 3px;
    cursor: pointer;
}

#owl-demo .item img {
    display: block;
    height: auto;
    margin: auto;

}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -11px;
    top: 60px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -11px;
    top: 60px;
}

.item img {
    width: 200px;
}
.getcoaching{
  height: 350px;
}
.getcoaching1{
  padding-top: 20px;
}
.footer1{
  width: 100%;
  height: 1500px;
}
.classroom3{
  text-align: left !important;
}
.onlineroom3{
  text-align: left !important;
}
.Corporatetraining3{
  text-align: left !important;
}
.collegetraining3{
  text-align: left !important;
}
.placement3{
  text-align: left !important;
}
.contact2{
  background-color: whitesmoke;
  width: 320px !important;
  height: 480px;
  border-radius: 10px;
}
.contact2 input[type=text],textarea{
  width: 300px !important;
  border-radius: 10px;
}
.contact2{
  padding-left: 5px !important;
}
.contactcard1{
  width: 330px;
}
.contactcard2{
  width: 330px;
}
.contactcard3{
  width: 330px;
}
/* .contact2 input[type=text], select, textarea {
  border-radius: 4px;
  box-sizing: border-box;
} */

}